.TodoItem {
  background-color: rgb(54, 54, 54);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 570px) {
  .TodoItem {
    display: flex;
    flex-direction: column;
  }
}
