* {
  padding: 0px;
  margin: 0px;
}

.App {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}
.home {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.home-todos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.add-form {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: rgb(229, 229, 229);
  margin: 0px 5px;
}
