* {
  padding: 0px;
  margin: 0px;
}

.App {
  box-sizing: border-box;
  margin: 0px 40px 0px 40px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}
.home {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.home-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40vw;
}
.add-form {
  box-sizing: inherit;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: rgb(229, 229, 229);
  margin: 0px 5px;
}

.todos-enter {
  opacity: 0;
}
.todos-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.todos-exit {
  opacity: 1;
}
.todos-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
